.btn-grey{
	background-color: #d2aca4;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-family: Gloock;
	letter-spacing: 1px;
}

.btn-grey:hover{
	background-color: #d38d81;
}